<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/layout/layout.css">
    <title>Title</title>
</head>
<body class="d-flex justify-content-center align-items-center flex-column " >
    <div class="d-flex flex-column header">
        <div class="d-flex justify-content-evenly align-items-center haeder_top" >
            <div class="d-flex align-items-center header_top_left">
                <img class="header_top_left_logo" src="../public/img/winm_logo.png" alt="">
                <form id="form_search" class="header_top_left_search" action="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                      </svg>
                    <input id="search_input" class="header_top_left_search_input" type="text" >
                    <div id="search_ex" class="search_ex hidden">
                        <h2 class="text-uppercase search_current_title">Tìm kiếm gần đây</h2>
                        <div class="d-flex flex-wrap search_current">
                            <div class="current_value">Bánh trung thu</div>
                            <div class="current_value">Sữa</div>
                            <div class="current_value">Sữa</div>
                            <div class="current_value">Sữa</div>
                            <div class="current_value">Sữa</div>
                            <div class="current_value">Sữa</div>
                            <div class="current_value">Sữa</div>
                            <div class="current_value">Sữa</div>
                        </div>
                        <h2 class="text-uppercase search_current_title">Từ khóa gợi ý</h2>
                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-between align-items-center  header_top_right">
                <div class="d-flex align-items-center header_top_right_shipping">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>  
                    <p class="text-center font-weight-bold header_top_right_shipping_space" >Giao Hàng</p>
                </div>
                <div id="cart" class="d-flex align-items-center header_top_right_cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"/>
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    <p class="header_top_right_cart_count" >Giỏ hàng (0)</p>
                    <div id="cart_list" class="cart_list hidden">
                        <div class=" d-flex flex-column cart_list_items">
                            <div class="d-flex list_items_item">
                                <img src="../public/img/fix_banner-2.jpg" alt="" class="item_img">
                                <div class="d-flex flex-wrap flex-column item_content">
                                    <p class="item_content_text">Nước tăng lực</p>
                                    <div class="d-flex justify-content-between content_dv">
                                        <p class="item_content_text">DVT:</p>
                                        <p class="item_content_text">Chai</p>
                                    </div>
                                    <div class="d-flex justify-content-between item_content_price">
                                        <p class="item_content_text">x 2</p>
                                        <p class="item_price">79.800 VND</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex list_items_item">
                                <img src="../public/img/fix_banner-2.jpg" alt="" class="item_img">
                                <div class="d-flex flex-wrap flex-column item_content">
                                    <p class="item_content_text">Nước tăng lực</p>
                                    <div class="d-flex justify-content-between content_dv">
                                        <p class="item_content_text">DVT:</p>
                                        <p class="item_content_text">Chai</p>
                                    </div>
                                    <div class="d-flex justify-content-between item_content_price">
                                        <p class="item_content_text">x 2</p>
                                        <p class="item_price">79.800 VND</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between cart_list_total">
                            <p class="total_text">Có tổng số: 4 sản phẩm</p>
                            <button class="btn total_detail">Xem chi tiết</button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center header_top_right_user">
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                    <p class="header_top_right_user_name" >Hội viên</p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center header_buttom" >
            <div id="menu" class="d-flex align-items-center header_buttom_menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
                <p class="header_buttom_menu_title" >Danh mục sản phẩm</p>
                <div id="menu_list" class="align-items-start menu_list hidden">
                    <ul type="none" class="menu_list_ul">
                        <li class="menu_list_ul_li">Siêu rẻ</li>
                        <li class="menu_list_ul_li">Siêu Khuyến mãi</li>
                        <li class="menu_list_ul_li">Ưu đãi hội viên</li>
                        <li class="d-flex justify-content-between align-items-center menu_list_ul_li sub">Sữa các loại
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                              </svg>
                        </li>
                        <li class="menu_list_ul_li">Rau củ - Trái cây</li>
                        <li class="menu_list_ul_li">Hóa phẩm - Tẩy rửa</li>
                        <li class="menu_list_ul_li">Chăm sóc cá nhân</li>
                        <li class="menu_list_ul_li">Thịt hải sản tươi</li>
                        <li class="menu_list_ul_li">Bánh kẹo</li>
                        <li class="menu_list_ul_li">Đồ uống có cồn</li>
                    </ul>
                    <div id="sub_list" class="menu_sub_list hidden">
                        <ul type="none" class="menu_list_ul">
                            <li class="menu_list_ul_li">Siêu rẻ</li>
                            <li class="menu_list_ul_li">Siêu Khuyến mãi</li>
                            <li class="menu_list_ul_li">Ưu đãi hội viên</li>
                            <li class="menu_list_ul_li">Sữa các loại</li>
                        </ul>
                        <img src="../public/img/fix_banner-1.jpg" alt="" class="sub_list_img">
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between header_buttom_help">
                <div  class="d-flex align-items-center header_buttom_help_new">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                    </svg>
                    <p class="new_title" >Tin tức winmart</p>
                </div>
                <div id="hostline" class="d-flex align-items-center header_buttom_help_hostline">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16">
                        <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5"/>
                    </svg>
                    <p class="hostline_title" >Tư vấn mua hàng</p>
                    <div id="hostline_infor" class="hostline_content hidden">
                        <p class="hostline_content_p">Mua online:</p>
                        <p class="hostline_content_p">09*****456</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div>
        content
    </div>
    <div class="d-flex flex-column footer" >
        <div class="d-flex align-items-center justify-content-around footer_top">
            <img src="../public/img/footer-01.png" alt="" class="footer_top_img">
            <img src="../public/img/footer-02.png" alt="" class="footer_top_img">
            <img src="../public/img/footer-03.png" alt="" class="footer_top_img">
            <img src="../public/img/footer-04.png" alt="" class="footer_top_img">
        </div>
        <div class="d-flex justify-content-between align-items-start footer_mid">
            <div class="d-flex flex-column footer_mid_content">
                <img class="footer_mid_content_img" src="../public/img/logo_2.png" alt="">
                <p>Công Ty Cổ Phần Dịch Vụ Thương Mại Tổng Hợp WinCommerce <br/>
                    Mã số doanh nghiệp: 0104918404 Đăng ký lần đầu ngày 20 tháng 09 năm 2010,
                    đăng ký thay đổi lần thứ 48, ngày 30 tháng 06 năm 2023</p>
                <img class="footer_mid_content_img" src="../public/img/logo_3.png" alt="">
            </div>
            <div class="d-flex flex-column align-items-start footer_mid_content">
                <h5 class="footer_mid_content_title">Về chúng tôi</h5>
                <a class="footer_mid_content_link" href="">Giới thiệu về WinMart</a>
                <a class="footer_mid_content_link" href="">Danh sách cửa hàng</a>
                <a class="footer_mid_content_link" href="">Quản lý chất lượng</a>
                <a class="footer_mid_content_link" href="">Chính sách bảo mật</a>
                <a class="footer_mid_content_link" href="">Điều khoản và điều kiện dịch vụ</a>
            </div>
            <div class="d-flex flex-column align-items-start footer_mid_content">
                <h5 class="footer_mid_content_title" >Hỗ trợ khách hàng</h5>
                <a class="footer_mid_content_link" href="">Trung tâm hỗ trợ khách hàng</a>
                <a class="footer_mid_content_link" href="">Chính sách giao hàng</a>
                <a class="footer_mid_content_link" href="">Chinh sách thanh toán</a>
                <a class="footer_mid_content_link" href="">Chính sách đổi trả</a>
                <a class="footer_mid_content_link" href="">Đánh giá góp ý</a>
                <a class="footer_mid_content_link" href="">Danh sách trúng thưởng</a>
            </div>
            <div class="d-flex flex-column align-items-start footer_mid_content">
                <h5 class="footer_mid_content_title" >Chăm Sóc khách hàng</h5>
                <p class="footer_mid_content_link" href="">Mua online: 09****678</p>
                <p class="footer_mid_content_link" href="">Email: cskh@example.com</p>
                <p class="footer_mid_content_title" >Kết nối với chúng tôi</p>
                <div class="d-flex align-items-start footer_mid_content_contact">
                    <a class="d-flex contact_fb">f</a>
                    <a class="d-flex contact_yt" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                            <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"/>
                          </svg>
                    </a>
                    <img class="link_zalo_logo" src="../public/img/zalo.png" alt="">
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between footer_bootom">
            <div class="d-flex flex-column align-items-center footer_bootom_space">
                <h2 class="footer_bootom_space_title">Địa chỉ giao dịch Hà Nội:</h2>
                <p>
                    Công Ty Cổ Phần Dịch Vụ Thương Mại Tổng Hợp WinCommerce
                    <br/>
                    Tầng 6, Toà nhà trung tâm Quốc tế, số 17 Ngô Quyền, Phường Tràng Tiền, Quận Hoàn Kiếm, Thành Phố Hà Nội
                </p>
            </div>
            <div class="d-flex flex-column align-items-center footer_bootom_space">
                <h2 class="footer_bootom_space_title">Trụ sở chính:</h2>
                <p>
                    Công Ty Cổ Phần Dịch Vụ Thương Mại Tổng Hợp WinCommerce 
                    <br />
                    Số 23 Lê Duẩn, Phường Bến Nghé, Quận 1, Thành phố Hồ Chí Minh, Việt Nam
                </p>
            </div>
            <div class="d-flex flex-column align-items-center footer_bootom_space">
                <h2 class="footer_bootom_space_title">Địa chỉ giao dịch Tp.Hồ Chí Minh:</h2>
                <p>Công Ty Cổ Phần Dịch Vụ Thương Mại Tổng Hợp WinCommerce
                   <br/>
                    Tầng 12, Tòa nhà Mplaza SaiGon, số 39 Lê Duẩn, Phường Bến Nghé, Quận 1, TP Hồ Chí Minh, Việt Nam</p>
            </div>
        </div>
    </div>
    <script src="../public/js/layout/layout.js"></script>
</body>
</html>