
.banner{
    height: 411px;
}
.home_banners{
    width: 100%;
    padding:3px;
    background: white;
}
.banners_slide{
    height: 100%;
    width: 68.5%;
    overflow: hidden;
    position: relative;
}
.banners_slide_buttons{
    position: absolute;
    top: 48%;
    left: -2%;
    width: 104%;
}
.banners_slide_img{
    width: 100%;
    object-fit: fill;
    transition: transform 0.5s ease;
}
.banners_fix_img{
    width: 100%;
    height: 50%;
    object-fit: fill;
}
.banners_fix{
    width: 31%;
}
.buttons_left,.buttons_right{
    width: 40px;
    height: 40px;
    background: #e82428;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.buttons_left{
    padding-right: 5px;
}
.buttons_right{
    padding-left: 5px;
}
.banners_slide_switch{
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.switch_dot{
    width: 8px;
    height: 8px;
    background: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}
.active{
    background: #e82428;
}
.home_vouchers{
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    background: #ececec;
    border-radius: 10px;
}
.voucher{
    position: relative;
    width: 375px;
    margin-right: 10px;
    padding-left:5px ;
    background: #ffffff;
    overflow: hidden;
}
.voucher_dot{
    position: absolute;
    height: 100%;
    top: 0;
    left: -20px;
    border-radius: 5px;
}
.dot{
    width: 30px;
    height: 15px;
    background-color: #ececec;
    border-radius: 5px;
}
.voucher_img{
    width: 25%;
    object-fit: fill;
}
.voucher_content{
    width: 74%;
    padding: 10px;
    border-left: 4px dashed #ececec;
}
.voucher_content_text{
    white-space: nowrap; /* Không cho phép xuống dòng */
      overflow: hidden; /* Ẩn phần văn bản vượt quá */
      text-overflow: ellipsis; 
}
.voucher_title{
    font-size: 18px;
}
.voucher_text,.voucher_code{
    padding:0;
    margin:0;
    font-size: 14px;
}
.voucher_date{
    background: rgb(255, 187, 78);
    margin: 5px 0;
    padding: 2px 10px;
    max-width: 60%;
    border-radius: 25px;
    color: #ffffff;
}
.voucher_note{
    
    font-weight: bold;
}
.note{
    font-size: 12px !important;
}
.voucher_code{
    color: #e82428;
}
.voucher_get{
    background: #e82428;
    color: #ffffff;
    border: none;
    font-size: 12px;
    border-radius: 10px;
    padding: 5px 20px;
}
.home_today_deal,.home_cat_list{
    width: 100%;
    margin-top: 20px;
}
.list_content{
    width: 100%;
    background: white;
}
.home_cat_list{
    margin: 10px 0;
}
.today_deal_date{
    background: linear-gradient(90deg, #e82428, yellow); /* Từ cam sang vàng */
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.home_cat_list_title{
    background-color: #ececec;
    width: 100%;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin-bottom: 5px;
}
.today_dead_date_title,.home_cat_list_title_text{
    margin: 0;
    font-size: 16px;
}
.date_countdowmn{
    width: 30px;
    height: 30px;
    background: red;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 5px;
    font-weight: bold;
}
.list_products{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    width: 100%;
    
}
.product{
    background: white;
    position: relative;
    height: 400px;
    max-height: 400px !important;
    border-radius: 10px;
    padding: 20px 10px 10px 10px;
    cursor: pointer;
    border: 1px solid white;
    box-shadow: rgba(153, 153, 153, 0.6) 0px 0px 5px 0px;
    &:hover{
        border: 1px solid #e82428;
    }
}
.loading {
    background: linear-gradient(90deg,  #afafaf, #dfdfdf);
    background-size: 200% 100%;
    animation: loading-background 2.5s ease infinite;
    border-radius: 8px; /* Bo góc nếu cần */
  }
  @keyframes loading-background {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
.product_pin{
    position: absolute;
    width: 50px;
    height: 25px;
    background: #e82428;
    color: white;
    font-size: 14px;
    z-index: 1000;
    top: 15px;
    left: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.product_img{
    height: 40%;
    width: 80%;
    position: relative;
}
.img_frame{
    position: absolute;
    width: 100%;
    object-fit: fill;
}
.product_img_content{
    width: 80%;
    object-fit: fill;
}
.product_content_text,.content_price,.cart_add{
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.product_content_price{
    margin: 10px 0;
}
.price_sale,.cart_add{
    color: red;
    font-size: 14px;
    font-weight: bold;
}
.price_old{
    margin-left: 10px;
    font-size: 12px;
}
.count{
    font-weight: bold;
    margin: 0 5px !important;
}
.content_add{
    height: 35px;
    padding: 5px 10px !important;
    margin: auto;
    background: white;
    color: red;
    border-radius: 10px;
    border: 1px solid red;
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 54%);
}
.content_grif{
    margin: 5px 0;
    height: 20%;
}
.content_grif_img{
    width: 20%;
    height: 100%;
    
    object-fit: fill;
}
.content_grif_text{
    margin: 0;
    font-size: 10px;
    color: #f79a19;
}
.more_text{
    margin: 0;
}
.list_load_more{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: #ffffff;
    max-width: 60%;
    color: red;
    font-size: 14px;
    margin: 10px 0;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
}
.cat_name{
    margin: 0 5px;
    font-weight: bold;
}
/*  */
.home_partner{
    margin: 10px 0;
    width: 100%;
    background: white;
}
.partner_title{
    width: 100%;
}
.partner_title_img{
    width: 100%;
    object-fit: cover;
}
.partner_list_partner{
    overflow: hidden;
    position: relative;
    padding: 40px 0;
}
.list_partner{
    transition: transform 0.5s ease;
}
.partner_logo{
    /* width: 100px; */
    height: 100px;
    max-width: 120px;
    margin: 0 60px;
    object-fit: fill;
}
.filler{
    filter: grayscale(100%);
}
/*  */

.slide_button{
    top: 45%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    background: gray;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
#partner_right{
    right: -15px;
}
#partner_left{
    left: -15px;
}
.hidden{
    display: none !important;
}