body {
    max-width: 100vw;
    overflow-x: hidden;
}

.fix {
    position: fixed;
    top: 0;
    left: 0;
}
a {
    text-decoration: none;
}
.haeder_top {
    width: 100vw !important;
    padding: 0 10vw;
    height: 80px;
    background: #e82428;
}
.header_top_left {
    width: 40%;
}
.header_top_left_logo {
    width: 30%;
    height: 80px;
    object-fit: cover;
}
.header_top_left_search {
    position: relative;
    background: white;
    width: 425px;
    margin: 0 0 0 10px;
    /* height: 29%; */
    padding: 8px 20px;
    border-radius: 25px;
    cursor: pointer;
}
.header_top_left_search_input {
    width: 85%;
    z-index: 100;
    border: none !important;
    list-style: none;
    outline: none !important;
}
/*  */
.header_top_right {
    font-weight: bold;
    /* width: 35%; */
}
.header_top_right_shipping {
    background: white;
    color: #e82428;
    max-width: 250px;
    margin-right: 10px;
    font-size: 14px;

    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}
.header_top_right_shipping_space {
    margin: 0;
    margin-left: 10px;
}
.header_top_right_cart,
.header_top_right_user {
    color: white !important;
    position: relative;
    font-size: 14px;
    cursor: pointer;
}
.header_top_right_cart {
    margin: 0 20px;
}
.header_top_right_cart_count,
.header_top_right_user_name,
.header_buttom_menu_title,
.new_title,
.hostline_title {
    margin: 0;

    margin-left: 10px;
}
.header_buttom_help_new {
    margin-left: 20px;
}
.header_buttom {
    background: #fdfdfd;
    width: 100vw !important;
    padding: 0 10vw;
    height: 40px;
    border-bottom: 1px solid rgb(57, 57, 57) !important;
}
/* .header_buttom_help {
    width: 45%;
} */
.footer_top {
    border-top: 3px solid #e82428;
    width: 100vw !important;
}
.footer_top_img {
    width: 20%;
    object-fit: cover;
}
.footer_mid {
    width: 100vw !important;
    padding: 10px 10vw;
    background: #2c2c2c;
    color: white;
    border-bottom: 3px solid gray !important;
}
.footer_mid_content {
    width: 20%;
    padding: 10px 0;
    color: white;
}
.footer_mid_content_img {
    width: 50%;
    object-fit: cover;
}
.footer_mid_content_title {
    margin: 0 0 10px 0;
    font-size: 14px;
    color: #575757;
}
.footer_mid_content_link {
    text-decoration: none;
    font-size: 12px;
    margin: 5px 0;
    color: white;
    &:hover {
        color: #e82428;
    }
}
.footer_mid_content_contact {
    width: 55%;
    justify-content: space-between;
}

.contact_fb,
.contact_yt,
.link_zalo_logo {
    text-decoration: none;
    width: 35px;
    height: 35px;
    display: flex;
    font-size: 18px;
    font-family: cursive;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: white !important;
}
.contact_fb {
    background: rgb(54, 54, 255);
}
.contact_yt {
    background: rgb(255, 71, 71);
}
.footer_bootom {
    width: 100vw !important;
    padding: 20px 10vw;
    background: #2c2c2c;
    color: white;
}
.footer_bootom_space {
    padding: 20px 10px;
    background: #363636;
    border-radius: 5px;
    width: 30%;
}
.footer_bootom_space_title {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #575757;
}
.header_buttom_menu {
    position: relative;
}
.menu_list {
    display: flex;
    align-items: start;
    position: absolute;
    top: -10px;
    left: 0;
    background: #ffffff;
    z-index: 1;
    box-shadow: 0 0 20px 100vw rgb(0 0 0 / 54%);
}
.menu_sub_list {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    width: 60vw;
    border-left: 5px solid rgb(204, 203, 203);
}
.header_buttom_help_hostline {
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}
.hostline_content {
    position: absolute;
    top: 30px;
    left: -40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    background: #ffffff;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 54%);
    padding: 10px;
    border-radius: 5px;
}
.hostline_content_p {
    margin: 0;
    padding: 0;
}

.search_ex {
    display: flex;
    position: absolute;
    flex-direction: column;
    border-radius: 15px;
    width: 100%;
    top: 45px;
    left: 0;
    z-index: 1000;
    background: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 54%);
}
.search_current_title {
    color: #a1a1a1;
    font-size: 16px;
    z-index: 10000;
    margin: 10px 0;
}
.header_top_right_cart::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: -1; Đặt dưới phần tử mẹ và con */
    background-color: transparent;
    display: block;
    height: 50px; /* Mở rộng kích thước */
    width: 100px;
}
.cart_list {
    display: flex;
    position: absolute;
    flex-direction: column;
    border-radius: 5px;
    width: 300px;
    top: 35px;
    left: -85%;
    color: black;
    background: #ffffff;
    padding: 10px 20px;
    z-index: 10;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 54%);
}
.cart_list_items {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 300px;
    border-bottom: 1px solid gray;
}
.list_items_item {
    margin-bottom: 5px;
}
.item_img {
    width: 30%;
    object-fit: cover;
}
.item_content {
    margin-left: 10px;
    width: 100%;
}

.item_content_text,
.item_price,
.total_text {
    font-size: 10px !important;

    margin: 0;
}
.total_text {
    font-size: 14px;
}
.cart_list_total {
    padding: 5px 0;
}
.total_detail {
    border: none;
    background: red !important;
    color: white !important;
    font-size: 12px;
    border-radius: 5px;
    &:hover {
        background-color: #e82428;
        color: white;
    }
}
.item_price {
    color: #e82428;
}
.content_dv {
    width: 30%;
}
.current_value {
    padding: 5px 10px;
    border: 1.5px solid red;
    border-radius: 25px;
    margin: 2px;
    cursor: pointer;
    &:hover {
        background: #eeeeee;
    }
}

.hidden {
    display: none !important;
}
.menu_list_ul {
    margin: 0;
    padding: 0;
    width: 200px;
}
.menu_list_ul_li {
    width: 100%;
    padding: 5px 0 5px 10px;
    color: #575757;
    font-size: 14px;
    text-decoration: none;
    background: white;
    &:hover {
        background: #e82428;
        color: white;
    }
}
.sub_list_img {
    width: 50%;
    object-fit: cover;
}
.user_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* padding: 20px 10px; */
    width: 200px;
    background: white;
    top: 50px;
    z-index: 100000;
    left: -85px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 54%);
}
.user_menu_tab {
    padding: 10px;
    &:hover {
        background: #e6e6e6;
    }
    &:hover .tab_link {
        color: #e82428 !important;
    }
}
.tab_link,
.header_buttom_rebuy {
    color: #696969;
    font-size: 14px;
    text-decoration: none;
}
.header_buttom_rebuy {
    color: #e82428;
}
.link_icon {
    margin-right: 10px;
}
.header_top_right_user::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: -1; Đặt dư��i phần tử m�� và con */
    background-color: transparent;
    display: block;
    height: 50px; /* Mở rộng kích thước */
    width: 100px;
}
.shipping_select {
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 60vw;
    height: 500px;
    background: white;
    box-shadow: 0 0 20px 100vw rgba(90, 90, 90, 0.54);
    top: 50px;
    left: 18vw;
    z-index: 1000000000000000000;
    background: #ffffff;
    box-shadow: 0 0 1 5px rgb(0 0 0 / 54%);
}
.select_top_note {
    border-top: 1px solid gray;
    padding: 10px 20px;
    width: 100%;
}
.select_top_title {
    padding: 10px 20px;
}
.note_icon {
    color: #e82428;
}
.shipping_select_address {
    width: 100%;
    font-weight: bold;
    padding: 10px 20px;
}
.shipping_select_top {
    border-bottom: 8px solid #d8d8d8;
}
.shipping_address_change {
    margin-left: 10px;
    color: rgb(60, 60, 250);
    font-size: 12px;
    cursor: pointer;
}
.change_icon {
    margin-right: 10px;
}
.shipping_select_zone {
    padding: 10px 20px;
    overflow: hidden;
}
.select_zone_value {
    background: red;
    color: white;
    width: 75%;
    padding: 5px 0;
}
.select_zone_list {
    width: 100%;
}
.list_address {
    width: 100%;
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid gray;
}
.close {
    width: 25px;
    height: 25px;
    cursor: pointer;
    /* border: 1px solid; */
    position: absolute;
    /* justify-content: center; */
    /* display: flex; */
    /* align-items: center; */
    right: -10px;
    top: -12px;
    color: red;
    font-size: 25px;
    background: white;
    border-radius: 25px;
}
a{
    text-decoration: none !important;
}
.cart_count{
    margin: 0;
}