.card-body__header-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card-body__header-action span i {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.card-body__header-logo {
    height: 46px;
}

.register-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Chiều cao chiếm full màn hình */
    background-color: #f8f9fa;
    background-image: url('https://i.pinimg.com/originals/fa/c0/5c/fac05c110c458e9bab3a3248bfb3c376.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.register-page__container {
    max-width: 45vw;
}

.register-page__form-wrapper {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.register-page__title {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.register-page__form-group {
    margin-bottom: 15px;
}

.register-page__label {
    font-weight: bold;
    color: #555;
}

.register-page__input {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.register-page__submit-btn {
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

.register-page__footer {
    margin-top: 20px;
}

.register-page__text {
    font-size: 14px;
}

.register-page__link {
    color: #007bff;
    text-decoration: none;
}

.register-page__link:hover {
    text-decoration: underline;
}