<div class="d-flex flex-column account_detail">
    <div class="d-flex account_detail_tabs">
        <div id="main-view-btn" class="detail_tabs_tab active">Thông tin tài khoản</div>
        <div id="second-view-btn"  class="detail_tabs_tab">Thông tin dự thưởng</div>
        <span class="move"></span>
    </div>
    <div class="account_detail_content">
        <div id="main-view" class="detail_content_view">
            <form class="row g-3">
                <div class="d-flex form-content">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Họ tên</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control content_input" id="staticEmail" value="Trần Công Danh">
                    </div>
                </div>
                <div class="d-flex form-content">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Số điện thoại</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control content_input"  value="034567789">
                    </div>
                </div>
                <div class="d-flex form-content">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control content_input" id="staticEmail" value="email@example.com">
                    </div>
                </div>
                <div class="d-flex align-item-center justify-content-start form-content gender">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Giới tính</label>
                    <div class="d-flex gender_radio">
                        <div class="gender_radio_value">
                            <input id="gender_men" type="radio" name="gender" checked>
                            <label for="gender_men">Nam</label>
                        </div>
                        <div class="gender_radio_value">
                            <input id="gender_wumen" type="radio" name="gender" >
                            <label for="gender_wumen">Nữ</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex form-content">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Ngày sinh</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control content_input" id="staticEmail" value="email@example.com">
                    </div>
                </div>
                <div class="d-flex form-content">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Quốc gia</label>
                    <div class="col-sm-10">
                        <select class="form-select content_input" disabled aria-label="Default select example">
                            <option selected>Việt Nam</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                </div>
                <div class="d-flex form-content">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Tỉnh/ Thành phố</label>
                    <div class="col-sm-10">
                        <select class="form-select content_input" aria-label="Default select example">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                </div>
                <div class="d-flex form-content">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Quận huyện</label>
                    <div class="col-sm-10">
                        <select class="form-select content_input" aria-label="Default select example">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                </div>
                <div class="d-flex form-content">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Phường xã</label>
                    <div class="col-sm-10">
                        <select class="form-select content_input" aria-label="Default select example">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                </div>
                <div class="d-flex form-content">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Số nhà</label>
                    <div class="col-sm-10">
                        <select class="form-select content_input" aria-label="Default select example">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                </div>
                <button class="btn_account" type="submit">Cập nhập</button>
            </form>
        </div>
        <div id="second-view" class="detail_content_view hidden">
            <form class="row g-3">
                <div class="d-flex form-content">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Họ tên</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control content_input" id="staticEmail" value="Trần Công Danh">
                    </div>
                </div>
                <div class="d-flex form-content">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Account</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control content_input"  value="034567789">
                    </div>
                </div>
                <div class="d-flex form-content">
                    <label for="staticEmail" class="col-sm-2 col-form-label">SDT: dự thưởng</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control content_input" id="staticEmail" value="email@example.com">
                    </div>
                </div>
                <div class="d-flex form-content">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Tỉnh/ Thành phố</label>
                    <div class="col-sm-10">
                        <select class="form-select content_input" aria-label="Default select example">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                </div>
                <div class="d-flex form-content">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Quận huyện</label>
                    <div class="col-sm-10">
                        <select class="form-select content_input" aria-label="Default select example">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                </div>
                <div class="d-flex form-content">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Phường xã</label>
                    <div class="col-sm-10">
                        <select class="form-select content_input" aria-label="Default select example">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                </div>
                <div class="d-flex form-content">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Số nhà</label>
                    <div class="col-sm-10">
                        <select class="form-select content_input" aria-label="Default select example">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                </div>
                <button class="btn_account--disabled" disabled type="submit">Xác nhận</button>
            </form>
        </div>
    </div>
</div>